.main {
  width: 100vw;
  background-color: rgb(1, 1, 39);
}

/* heading */
section#heading {
  background: url(../img/cyber_girl.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  width: 100vw;
  padding-bottom: 10rem;
  transition: background-image 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* introduce */
.introduce {
  padding-left: 5rem;
  padding-top: 8rem;
}

/* about st */
.intro__about h3 {
  font-size: 1.4rem;
  font-weight: 100;
}

.intro__about h2 {
  font-size: 10rem;
  font-style: italic;
  line-height: 1;
  padding: 2rem 0;
}

.intro__about pre {
  font-size: 1.2rem;
  margin-left: -6.5rem;
}

/* intro product */
.intro__latest-work {
  display: flex;
  gap: 4rem;
  margin-top: 12rem;
}

.intro__latest-work img {
  border-radius: 16px;
  max-width: 330px;
}

.intro__latest-work__content h3 {
  padding: 2rem 0 1rem;
  font-size: 1.6rem;
}

.intro__latest-work__content p {
  margin-bottom: 5rem;
  font-size: 1.6rem;
  font-weight: lighter;
}

.intro__latest-work__content a {
  font-size: 1.6rem;
  font-weight: lighter;
}

.intro__latest-work__content .fa-arrow-alt-circle-right {
  font-size: 2rem;
  margin-right: 8px;
}

/* PORTFOLIO */

section#portfolio {
  border-bottom: 1px solid #fff;
  box-shadow: 0 -3rem 2rem 1rem rgb(1, 1, 39);
}

section#portfolio h2 {
  font-size: 3rem;
  padding: 3rem 0;
  color: #fff;
  margin-left: 5rem;
  font-style: italic;
}

/* project 1 */
section#project-1 {
  border-bottom: 1px solid #fff;
  padding-bottom: 8rem;
}
.game-project__container {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  padding: 4rem 0;
}

.game-project__container--left {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  width: 100%;
  height: 100%;
}

#project-1 .game-project__container--left h3 {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 10rem;
  margin-top: 2rem;
  margin-left: 5rem;
}

#project-1 .game-project__container--left p {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.4rem;
  margin-left: 6rem;
  text-align: center;
}

.game-project__container--right {
  flex-basis: 80%;
  justify-self: flex-end;
}

.game-project__container--right img {
  width: 100%;
  max-height: 660px;
  border-radius: 20px 0 0 20px;
}

.game-project__content {
  margin-top: 1rem;
  margin-left: 20%;
  width: 40%;
}

.game-project__content > a {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 2rem;
  font-weight: 400;
}

.game-project__content i {
  margin-left: 0.8rem;
}

.game-project__content > p {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.game-project__content h3 {
  font-size: 1.6rem;
  padding-top: 1rem;
  font-weight: normal;
}

.game-project__content button {
  background-color: rgb(1, 1, 39);
  border: 1px solid #fff;
  /* border-radius: 10%; */
  padding: 1rem 4rem;
  /* margin-top: 2.4rem; */
}

.game-project__content button a {
  font-size: 1.6rem;
}

.game-project__content button:hover {
  background-color: var(--color7);
}

/* All game */
section#all-game {
  overflow: hidden;
}
section#all-game h2 {
  float: right;
  padding: 5rem;
  font-style: italic;
  font-size: 4rem;
}

/* characters */

section#characters {
  border-bottom: 1px solid #fff;
}

section#characters h2 {
  font-size: 4rem;
  font-style: italic;
  margin-left: 5rem;
  padding: 2rem 0;
  width: auto;
}

.characters__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10rem;
}

.characters__content-items {
  flex-basis: 30%;
}

#all-character {
  display: flex;
  justify-content: flex-end;
}

#all-character h2:last-of-type {
  font-style: italic;
  font-size: 4rem;
  width: auto;
  padding: 5rem;
}

/* Footer */
.footer {
  padding: 2rem 5rem;
}

.footer ul:first-child {
  display: flex;
  justify-content: space-between;
}

.footer ul:first-child li a,
.footer ul:last-child li a,
.footer ul:last-child li p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.footer ul:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.footer ul:last-child i {
  margin-right: 1rem;
}
